<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOqJeyv-Da9IfY0XZdffolwEekwmzuX0A</string>
	<key>GCM_SENDER_ID</key>
	<string>957025526380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanfaina.gerardggfCv</string>
	<key>PROJECT_ID</key>
	<string>gerardggf-cv</string>
	<key>STORAGE_BUCKET</key>
	<string>gerardggf-cv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957025526380:ios:e66027932d758f5ce6ee49</string>
</dict>
</plist>